<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" id="navigator2">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-auto " id="navbarSupportedContent">
                <ul class="navbar-nav nav-justified w-100 alink">
                    <li class="nav-item" id="navigator">
                        <a class="nav-link navigation" id="navigator2" aria-culastrrent="page" href="#">Home</a>
                    </li>
                    <li class="nav-item" id="navigator">
                        <a class="nav-link navigation" id="navigator2" href="#last">About</a>
                    </li>
                    <li class="nav-item" id="navigator">
                        <a class="nav-link navigation" id="navigator2" href="signup_hospital">Register as Hospital</a>
                    </li>
                    <!-- <li class="nav-item" id="navigator">
                        <a class="nav-link navigation" id="navigator2" href="">Login as Hospital</a>
                    </li> -->
                    <li class="nav-item" id="navigator">
                        <a class="nav-link navigation" id="navigator2" href="tables">Check Availability</a>
                    </li>
                    <li class="nav-item" id="navigator">
                        <a class="nav-link navigation" id="navigator2" href="videocall">Video
                            Conference</a>
                    </li>
                    <!-- <li class="nav-item" id="navigator">
                        <a class="nav-link navigation" id="navigator2" href="login.html">Login</a>
                    </li> -->
                    <li class="nav-item" id="navigator">
                        <a class="nav-link navigation" id="navigator2" href="#last">Contact Us</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-aos="fade-down"
        data-aos-duration="2000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item active main">
                <img src="images/pic4.jpg" class="d-block w-100 mainimg" alt="...">

                <div class="information">
                    <h1 class='main-heading'>Life is a gift. Pass it on.</h1>
                    <h2 class="starting">Be a rainbow in someone else’s cloud.</h2>
                    <hr>
                    <a type="button" class="btn btn-primary btn-lg button" href="/tables">Check Availability</a>
                </div>
            </div>
            <div class="carousel-item main">
                <img src="images/pic1.jpg" class="d-block w-100 mainimg" alt="...">

                <div class="information">
                    <h1 class='main-heading'>It takes lives to save lives</h1>
                    <h2 class="starting">Find a need and fill it.</h2>
                    <hr>
                    <a type="button" class="btn btn-primary btn-lg button" href="/tables">Check Availability</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container middle-1" data-aos="fade-right" data-aos-duration="1000">
            <h1 style="text-align: center; font-size: 3em;">OUR VISION</h1>
            <hr style="border-color: white;">
            <p>Our vision is to bridge the gap between the number of people who need organs
                and
                the number of people who
                donate organs. We want to ensure that the maximum number of people pledge their organs for donation. We
                also
                aim to make the process of organ transplantation smoother and faster.</p>
        </div>
        <div class="container c1" data-aos="fade-up" data-aos-duration="1000">
            <div class="row">
                <div class="col-lg-6 c1-first">
                    <h1>IDEA</h1>
                    <hr style="width: 75%; margin: 0%; margin-top: 20px; margin-bottom: 50px;">
                    <p>Organ donation is the process of surgically removing an organ or tissue from one person (the
                        organ
                        donor) and placing it into another person (the recipient).

                        Organ transplantation is one of the great advances in modern medicine. Unfortunately, the need
                        for
                        organ donors is much greater than the number of people who actually donate. Every day in the
                        United
                        States, 21 people die waiting for an organ and more than 107,380 men, women and children await
                        life-saving organ transplants.</p>
                </div>
                <div class="col-lg-6 c1-second">
                    <img src="images/idea3.png" alt="">
                </div>
            </div>
        </div>
        <div class="container c2" data-aos="fade-up" data-aos-duration="1000">
            <div class="row">
                <div class="col-lg-6 c2-second">
                    <img src="images/values2.png" alt="">
                </div>
                <div class="col-lg-6 c2-first">
                    <h1>VALUE</h1>
                    <hr style="width: 75%; margin: 0%; margin-top: 20px; margin-bottom: 50px;">
                    <p>Transplantation ethics is philosophy that involves systematizing, defending and recommending
                        concepts
                        of right and wrong conduct related to organ donation. As the demand for organs increases, it is
                        essential for the society to ensure that new and innovative laws, policies and strategies of
                        increasing organ supply are bioethical. In the field of organ transplantation, role of altruism
                        and
                        medical ethics values are significant to the welfare of the society.
                    </p>
                </div>
            </div>
        </div>
        <div class="container c1" data-aos="fade-up" data-aos-duration="1000">
            <div class="row">
                <div class="col-lg-6 c1-first">
                    <h1>MISSION</h1>
                    <hr style="width: 75%; margin: 0%; margin-top: 20px; margin-bottom: 50px;">
                    <p>To spread awareness about cadaver organ donations in the country among the people. To facilitate
                        the
                        process of organ donations right from procuring the organs from a donor to making sure that the
                        recipient gets a new lease of life. To instill hope among the people for a new life, even after
                        they
                        have given up.</p>
                </div>
                <div class="col-lg-6 c3-second">
                    <img src="images/mission.png" alt="">
                </div>
            </div>
        </div>
        <div class="container middle-1" data-aos="fade-right" data-aos-duration="1000">
            <h1 style="text-align: center; font-size: 2em;"><i class="fa fa-quote-left" style="color:yellowgreen;"> </i>
                Not Everyone Has The Chance To Be God For Another, YOU DO <i class="fa fa-quote-right"
                    style="color:yellowgreen;"></i>
            </h1>
        </div>
    </div>
    <div class="last" id="last">
        <div class="row">
            <div class="col-lg-4 last-1">
                <h3 class="final-border">About Us</h3>
                <ul class="final-list">
                    <li><i class="fas fa-chevron-circle-right"></i> <a href="">Team</a></li>
                    <li><i class="fas fa-chevron-circle-right"></i> <a href="">Media</a></li>
                    <li><i class="fas fa-chevron-circle-right"></i> <a href="">Hospitals</a></li>
                </ul>
            </div>
            <div class="col-lg-4 last-2">
                <h3 class="final-border">Services</h3>
                <ul class="final-list">
                    <li><i class="fas fa-chevron-circle-right"></i> <a href="">Connecting with Hospitals</a></li>
                    <li><i class="fas fa-chevron-circle-right"></i> <a href="">Platform For Donors to Connect With
                            Hospitals</a></li>
                    <li><i class="fas fa-chevron-circle-right"></i> <a href="">Platform For Donation</a></li>
                </ul>
            </div>
            <div class="col-lg-4 last-3">
                <h3 class="final-border">Contact Us</h3>
                <ul class="final-list">
                    <li><i class="fas fa-envelope"></i> <a href="">abc@gmail.com</a></li>
                    <li><i class="fas fa-phone"></i> <a href="">+91-xxxxx-xxxxx</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME" chat-title="Chat-bot" agent-id="dc589dd7-ed07-4b04-9664-787b5a35f2a1"
        language-code="en"></df-messenger> -->
    <script src="javascript/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>