<head>
    <script src='https://meet.jit.si/external_api.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</head>
<style>
    .wrapper {
        text-align: center;
    }

    .button {
        position: absolute;
        top: 50%;
    }

    h1 {
        text-align: center;
    }

    .video {
        align-items: center;
        margin-left: 30%;
        margin-top: 10px;
    }

    #checker {
        margin-left: auto !important;
        margin-right: auto !important;
    }
</style>

<body>
    <div class="container">
        <h1>Click to Start the Meeting.</h1>
        <div class="wrapper">
            <button id="start" type="button" style="background-color:#2f8be0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;">Start</button>
        </div>
    </div>
    <div class="container" id="checker">
        <div id="jitsi-container" class="video"></div>
    </div>

    <script>
        var button = document.querySelector('#start');
        var container = document.querySelector('#jitsi-container');
        var api = null;

        button.addEventListener('click', () => {
            var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var stringLength = 30;

            function pickRandom() {
                return possible[Math.floor(Math.random() * possible.length)];
            }

            var randomString = Array.apply(null, Array(stringLength)).map(pickRandom).join('');

            var domain = "meet.jit.si";
            var options = {
                "roomName": randomString,
                "parentNode": container,
                "width": 600,
                "height": 600,
            };
            api = new JitsiMeetExternalAPI(domain, options);
        });
    </script>
</body>

</html>